In [1]:
import pandas as pd
import numpy as np
from datetime import date
import os

In [2]:
# Read in the data
house_df = pd.read_csv('assets/updated_house_price.csv')
pop_growth_df_1 = pd.read_csv('assets/population_growth_2000_2010.csv', encoding='latin-1')
pop_growth_df_2 = pd.read_csv('assets\population_growth_2010-2020.csv', encoding='latin-1')
pop_growth_df_3 = pd.read_csv('assets/population_growth_2020-2021.csv', encoding='latin-1')
unemploy_df = pd.read_csv('assets/wake_unemployment.csv')
covid_df = pd.read_csv('assets/covid_confirmed.csv')
mort_rate_df = pd.read_csv('assets/mort_rate.csv')
lumber_df = pd.read_csv('assets/lumber.csv')
metals_df = pd.read_csv('assets/metals.csv')
build_df = pd.read_csv('assets/build_material.csv')
int_rate_df = pd.read_csv('assets/int_rate.csv')
us_house_supply_df = pd.read_excel('assets/HousingSupply.xlsx', sheet_name="Manufactured_Annual")
us_house_demand_df = pd.read_excel('assets/HAI.xlsx', sheet_name="HAI_Annual")
wake_supply_df = pd.read_csv('assets\market_hotness_supply_index.csv')
wake_demand_df = pd.read_csv('assets\market_hotness_demand_index.csv')

## Mortgage rate

In [ ]:
# Work on the mortgage rate data
mort_rate_df.rename(columns={'Unnamed: 0': 'date'}, inplace=True)
mort_rate_df['date'] = pd.to_datetime(mort_rate_df['date'])
mort_rate_df['date'] = mort_rate_df['date'].dt.strftime('%Y-%m')
mort_rate_df.head()

In [ ]:
house_df['Deed_Date'] = pd.to_datetime(house_df['Deed_Date'])
house_df['Deed_Date'] = house_df['Deed_Date'].dt.strftime('%Y-%m')
house_df.drop(columns=['Unnamed: 0'], inplace=True)
house_df

### Combine mortgage rate to house price data

In [ ]:
updated_house_df = house_df.merge(mort_rate_df, left_on='Deed_Date', right_on='date', how='left')
updated_house_df.rename(columns={'Rate': 'mort_rate'}, inplace=True)
updated_house_df.drop(columns=['date'], inplace=True)
updated_house_df.columns = map(str.lower, updated_house_df.columns)
updated_house_df

## Unemployment rate

In [ ]:
unemploy_df['Year'] = unemploy_df['Year'].astype(str)
unemploy_df['Month'] = unemploy_df['Month'].astype(str)
unemploy_df['date'] = unemploy_df['Year'] + '-' + unemploy_df['Month']
unemploy_df['date'] = pd.to_datetime(unemploy_df['date'])
unemploy_df['date'] = unemploy_df['date'].dt.strftime('%Y-%m')
unemploy_df.rename(columns={'Unemployment Rate(%)': 'unemploy_rate'}, inplace=True)

### Combine unemployment rate to house price data

In [ ]:
unemploy_df = unemploy_df[['date', 'unemploy_rate']].copy()
updated_house_df = updated_house_df.merge(unemploy_df, left_on='deed_date', right_on='date', how='left')
updated_house_df.drop(columns=['date'], inplace=True)
# updated_house_df.columns = map(str.lower, updated_house_df.columns)
updated_house_df

## Population growth
### 2000-2010

In [ ]:
pop_growth_df_1 = pop_growth_df_1.loc[pop_growth_df_1['STNAME'] == 'North Carolina']
pop_growth_df_1 = pop_growth_df_1.loc[pop_growth_df_1['CTYNAME'] == 'Wake County']
pop_growth_df_1.drop(columns=['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME'], inplace=True)

In [ ]:
pop_growth_df_1['rate_2001'] = (pop_growth_df_1['POPESTIMATE2001'] - pop_growth_df_1['POPESTIMATE2000']) / pop_growth_df_1['POPESTIMATE2000']
pop_growth_df_1['rate_2002'] = (pop_growth_df_1['POPESTIMATE2002'] - pop_growth_df_1['POPESTIMATE2001']) / pop_growth_df_1['POPESTIMATE2001']
pop_growth_df_1['rate_2003'] = (pop_growth_df_1['POPESTIMATE2003'] - pop_growth_df_1['POPESTIMATE2002']) / pop_growth_df_1['POPESTIMATE2002']
pop_growth_df_1['rate_2004'] = (pop_growth_df_1['POPESTIMATE2004'] - pop_growth_df_1['POPESTIMATE2003']) / pop_growth_df_1['POPESTIMATE2003']
pop_growth_df_1['rate_2005'] = (pop_growth_df_1['POPESTIMATE2005'] - pop_growth_df_1['POPESTIMATE2004']) / pop_growth_df_1['POPESTIMATE2004']
pop_growth_df_1['rate_2006'] = (pop_growth_df_1['POPESTIMATE2006'] - pop_growth_df_1['POPESTIMATE2005']) / pop_growth_df_1['POPESTIMATE2005']
pop_growth_df_1['rate_2007'] = (pop_growth_df_1['POPESTIMATE2007'] - pop_growth_df_1['POPESTIMATE2006']) / pop_growth_df_1['POPESTIMATE2006']
pop_growth_df_1['rate_2008'] = (pop_growth_df_1['POPESTIMATE2008'] - pop_growth_df_1['POPESTIMATE2007']) / pop_growth_df_1['POPESTIMATE2007']
pop_growth_df_1['rate_2009'] = (pop_growth_df_1['POPESTIMATE2009'] - pop_growth_df_1['POPESTIMATE2008']) / pop_growth_df_1['POPESTIMATE2008']
pop_growth_df_1['rate_2010'] = (pop_growth_df_1['POPESTIMATE2010'] - pop_growth_df_1['POPESTIMATE2009']) / pop_growth_df_1['POPESTIMATE2009']

In [ ]:
pop_growth_df_1.drop(columns=['ESTIMATESBASE2000', 'CENSUS2010POP', 'POPESTIMATE2000', 'POPESTIMATE2001', 'POPESTIMATE2002', 'POPESTIMATE2003', 'POPESTIMATE2004', 'POPESTIMATE2005', 'POPESTIMATE2006', 'POPESTIMATE2007', 'POPESTIMATE2008', 'POPESTIMATE2009', 'POPESTIMATE2010'], inplace=True)
pop_growth_df_1.set_index('CTYNAME', inplace=True)
pop_growth_df_1.head()

### 2011-2020

In [ ]:
pop_growth_df_2 = pop_growth_df_2.loc[pop_growth_df_2['STNAME'] == 'North Carolina']
pop_growth_df_2 = pop_growth_df_2.loc[pop_growth_df_2['CTYNAME'] == 'Wake County']
pop_growth_df_2.drop(columns=['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME'], inplace=True)

In [ ]:
pop_growth_df_2['rate_2011'] = (pop_growth_df_2['POPESTIMATE2011'] - pop_growth_df_2['POPESTIMATE2010']) / pop_growth_df_2['POPESTIMATE2010']
pop_growth_df_2['rate_2012'] = (pop_growth_df_2['POPESTIMATE2012'] - pop_growth_df_2['POPESTIMATE2011']) / pop_growth_df_2['POPESTIMATE2011']
pop_growth_df_2['rate_2013'] = (pop_growth_df_2['POPESTIMATE2013'] - pop_growth_df_2['POPESTIMATE2012']) / pop_growth_df_2['POPESTIMATE2012']
pop_growth_df_2['rate_2014'] = (pop_growth_df_2['POPESTIMATE2014'] - pop_growth_df_2['POPESTIMATE2013']) / pop_growth_df_2['POPESTIMATE2013']
pop_growth_df_2['rate_2015'] = (pop_growth_df_2['POPESTIMATE2015'] - pop_growth_df_2['POPESTIMATE2014']) / pop_growth_df_2['POPESTIMATE2014']
pop_growth_df_2['rate_2016'] = (pop_growth_df_2['POPESTIMATE2016'] - pop_growth_df_2['POPESTIMATE2015']) / pop_growth_df_2['POPESTIMATE2015']
pop_growth_df_2['rate_2017'] = (pop_growth_df_2['POPESTIMATE2017'] - pop_growth_df_2['POPESTIMATE2016']) / pop_growth_df_2['POPESTIMATE2016']
pop_growth_df_2['rate_2018'] = (pop_growth_df_2['POPESTIMATE2018'] - pop_growth_df_2['POPESTIMATE2017']) / pop_growth_df_2['POPESTIMATE2017']
pop_growth_df_2['rate_2019'] = (pop_growth_df_2['POPESTIMATE2019'] - pop_growth_df_2['POPESTIMATE2018']) / pop_growth_df_2['POPESTIMATE2018']
pop_growth_df_2['rate_2020'] = (pop_growth_df_2['POPESTIMATE2020'] - pop_growth_df_2['POPESTIMATE2019']) / pop_growth_df_2['POPESTIMATE2020']

In [ ]:
pop_growth_df_2 = pop_growth_df_2[['CTYNAME', 'rate_2011', 'rate_2012', 'rate_2013', 'rate_2014', 'rate_2015', 'rate_2016', 'rate_2017', 'rate_2018', 'rate_2019', 'rate_2020']]
pop_growth_df_2.set_index('CTYNAME', inplace=True)
pop_growth_df_2.head()

### 2021

In [ ]:
pop_growth_df_3 = pop_growth_df_3.loc[pop_growth_df_3['STNAME'] == 'North Carolina']
pop_growth_df_3 = pop_growth_df_3.loc[pop_growth_df_3['CTYNAME'] == 'Wake County']
pop_growth_df_3.drop(columns=['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME'], inplace=True)

In [ ]:
pop_growth_df_3['rate_2021'] = (pop_growth_df_3['POPESTIMATE2021'] - pop_growth_df_3['POPESTIMATE2020']) / pop_growth_df_3['POPESTIMATE2020']
pop_growth_df_3 = pop_growth_df_3[['CTYNAME', 'rate_2021']].copy()
pop_growth_df_3.set_index('CTYNAME', inplace=True)

pop_growth_df_3.head()

#### Combine all population growth datasets together

In [ ]:
pop_growth_df = pd.concat([pop_growth_df_1, pop_growth_df_2, pop_growth_df_3], axis=1)
pop_growth_df.head()

In [ ]:
final_pop_growth = pop_growth_df.transpose()
final_pop_growth.reset_index(inplace=True)
final_pop_growth.rename(columns={'index':'year', 'Wake County':'pop_growth_rate'}, inplace=True)
final_pop_growth['year'] = final_pop_growth['year'].str.split('_').str[1]
final_pop_growth['year'] = pd.to_datetime(final_pop_growth['year'], format='%Y')
final_pop_growth['year'] = final_pop_growth['year'].dt.strftime('%Y')

final_pop_growth.rename_axis(None, axis=1, inplace=True)
final_pop_growth.head()

In [ ]:
updated_house_df['year'] = pd.to_datetime(updated_house_df['deed_date']).dt.year
updated_house_df['year'] = updated_house_df['year'].astype(str)
updated_house_df = updated_house_df.merge(final_pop_growth, left_on='year', right_on='year', how='left')
updated_house_df.drop(columns=['year'], inplace=True)
updated_house_df

## COVID data

In [ ]:
nc_covid = covid_df.loc[covid_df['State'] == 'NC']
# nc_covid.head()
wake_covid = nc_covid.loc[nc_covid['County Name'] == 'Wake County ']
wake_covid.drop(columns=['countyFIPS', 'StateFIPS', 'State', 'County Name'], inplace=True)
wake_covid.reset_index(drop=True, inplace=True)
wake_covid.head()

In [ ]:
final_wake_covid = wake_covid.transpose()
final_wake_covid.reset_index(inplace=True)
final_wake_covid.rename(columns={'index':'date', 0:'covid_cases'}, inplace=True)
final_wake_covid['date'] = pd.to_datetime(final_wake_covid['date'])
final_wake_covid['date'] = final_wake_covid['date'].dt.strftime('%Y-%m')
final_wake_covid

In [ ]:
updated_house_df = updated_house_df.merge(final_wake_covid, left_on='deed_date', right_on='date', how='left')
updated_house_df.drop(columns=['date'], inplace=True)

updated_house_df['is_covid'] = 0
updated_house_df['deed_date'] = pd.to_datetime(updated_house_df['deed_date'])
# updated_house_df.info()
covid_house_df = updated_house_df.loc[updated_house_df['deed_date'] >= '2020-03-01']
covid_house_df['is_covid'] = 1
uncovid_house_df = updated_house_df.loc[updated_house_df['deed_date'] < '2020-03-01']
uncovid_house_df['is_covid'] = 0
updated_house_df = pd.concat([covid_house_df, uncovid_house_df], axis=0)
updated_house_df.reset_index(drop=True, inplace=True)
updated_house_df

## Raw materials data
### Lumber

In [ ]:
lumber_df.rename(columns={'DATE':'date', 'WPU081':'lumber_price'}, inplace=True)
lumber_df['date'] = pd.to_datetime(lumber_df['date'])
lumber_df['date'] = lumber_df['date'].dt.strftime('%Y-%m')
lumber_df = lumber_df[lumber_df['date'] >= '2000-01']
lumber_df.reset_index(drop=True, inplace=True)
lumber_df.head()

### Metals

In [ ]:
metals_df.rename(columns={'DATE':'date', 'WPU101':'metals_price'}, inplace=True)
metals_df['date'] = pd.to_datetime(metals_df['date'])
metals_df['date'] = metals_df['date'].dt.strftime('%Y-%m')
metals_df = metals_df[metals_df['date'] >= '2000-01']
metals_df.reset_index(drop=True, inplace=True)
metals_df.head()

### Build materials

In [ ]:
build_df.rename(columns={'DATE':'date', 'PCU44414441':'build_price'}, inplace=True)
build_df['date'] = pd.to_datetime(build_df['date'])
build_df['date'] = build_df['date'].dt.strftime('%Y-%m')
build_df = build_df[build_df['date'] >= '2000-01']
build_df.reset_index(drop=True, inplace=True)
build_df.head()

### Combine all together

In [ ]:
lumber_metals_df = lumber_df.merge(metals_df, left_on='date', right_on='date', how='left')

final_material_df = lumber_metals_df.merge(build_df, left_on='date', right_on='date', how='left')
final_material_df.fillna(0, inplace=True)
final_material_df.head()

### Combine raw material data to house data

In [ ]:
final_material_df['date'] = pd.to_datetime(final_material_df['date'])
updated_house_df = updated_house_df.merge(final_material_df, left_on='deed_date', right_on='date', how='left')
updated_house_df.drop(columns=['date'], inplace=True)
updated_house_df.head()

## Interest rate data

In [ ]:
int_rate_df.drop(labels=[0,1,2], axis=0, inplace=True)
int_rate_df.columns = int_rate_df.iloc[0]
int_rate_df.drop(labels=[3], axis=0, inplace=True)
int_rate_df.reset_index(drop=True, inplace=True)

In [ ]:
us_int_rate_df = int_rate_df.loc[int_rate_df['Country Code'] == 'USA']
us_int_rate_df.drop(columns=['Country Name', 'Indicator Name', 'Indicator Code'], inplace=True)
us_int_rate_df.reset_index(drop=True, inplace=True)

In [ ]:
us_int_rate_df = us_int_rate_df.transpose()
new_header = us_int_rate_df.iloc[0] #grab the first row for the header
us_int_rate_df = us_int_rate_df[1:] #take the data less the header row
us_int_rate_df.columns = new_header #set the header row as the df header
us_int_rate_df.reset_index(inplace=True)

In [ ]:
us_int_rate_df.rename(columns={3:'date', 'USA':'int_rate'}, inplace=True)
us_int_rate_df['date'] = us_int_rate_df['date'].astype(str)
us_int_rate_df['year'] = us_int_rate_df['date'].str.split('.',0).str[0]
us_int_rate_df['year'] = pd.to_datetime(us_int_rate_df['year'])
us_int_rate_df['year'] = us_int_rate_df['year'].dt.strftime('%Y-%m')
us_int_rate_df.drop(columns=['date'], inplace=True)
us_int_rate_df = us_int_rate_df.rename_axis(None, axis=1)

In [ ]:
us_int_rate_final = us_int_rate_df.loc[us_int_rate_df['year'] >= '2000-01']
us_int_rate_final['year'] = pd.to_datetime(us_int_rate_final['year'])

us_int_rate_final.head()

In [ ]:
# uncomment the below to save the dataframes to csv files
us_int_rate_final.to_csv('assets/us_int_rate.csv')

### Combine interest rate to dataset

In [ ]:
updated_house_df['year'] = updated_house_df['deed_date'].dt.strftime('%Y')
updated_house_df['year'] = pd.to_datetime(updated_house_df['year'])
updated_house_df = updated_house_df.merge(us_int_rate_final, left_on='year', right_on='year', how='left')
updated_house_df.drop(columns=['year'], inplace=True)
updated_house_df.head()

## House demand and supply data
### US House demand and supply

#### US house supply data

In [ ]:
us_house_supply_df.drop(columns=['DealInvt_US'], inplace=True)
us_house_supply_df.rename(columns={'Year':'date', 'Shipments_US': 'manufactured_house_number'}, inplace=True)
us_house_supply_df['date'] = us_house_supply_df['date'].astype(str)
us_house_supply_df['date'] = pd.to_datetime(us_house_supply_df['date'])
us_house_supply_df['date'] = us_house_supply_df['date'].dt.strftime('%Y-%m')
us_house_supply_df = us_house_supply_df[us_house_supply_df['date'] >= '2000-01']
us_house_supply_df.reset_index(drop=True, inplace=True)
us_house_supply_df.head()

#### US house demand data 
House affordability index

In [ ]:
us_house_demand_df = us_house_demand_df[['Year', 'FIXED_US']]
us_house_demand_df.rename(columns={'Year':'date', 'FIXED_US': 'hai'}, inplace=True)
# us_house_demand_df.info()
us_house_demand_df['date'] = us_house_demand_df['date'].astype(str)
us_house_demand_df['date'] = pd.to_datetime(us_house_demand_df['date'])
us_house_demand_df['date'] = us_house_demand_df['date'].dt.strftime('%Y-%m')
us_house_demand_df = us_house_demand_df[us_house_demand_df['date'] >= '2000-01']
us_house_demand_df.reset_index(drop=True, inplace=True)
us_house_demand_df.head()

#### Combine US house supply and demand datasets

In [ ]:
us_house_supply_demand_df = us_house_supply_df.merge(us_house_demand_df, left_on='date', right_on='date', how='left')
us_house_supply_demand_df.sort_values(by='date', inplace=True)
us_house_supply_demand_df = pd.DataFrame(np.repeat(us_house_supply_demand_df.values, 12, axis=0))
us_house_supply_demand_df.rename(columns={0:'date', 1:'manufactured_house_number', 2:'hai'}, inplace=True)

date_df = pd.DataFrame({'date': pd.date_range(start='2000-01-01', end='2021-12-31', freq='MS')})
us_house_supply_demand_df['new_date'] = date_df['date'].dt.strftime('%Y-%m')
us_house_supply_demand_df.drop(columns=['date'], inplace=True)
us_house_supply_demand_df.rename(columns={'new_date':'date'}, inplace=True)
final_us_house_supply_demand = us_house_supply_demand_df[['date', 'manufactured_house_number', 'hai']].copy()
final_us_house_supply_demand

### Wake Market Hotness
Wake market hotness only contains data after 2017
#### Wake supply

In [ ]:
wake_supply_df.rename(columns={'DATE':'date', 'SUSCCOUNTY37183':'wake_supply_index'}, inplace=True)
wake_supply_df['date'] = pd.to_datetime(wake_supply_df['date'])
wake_supply_df['date'] = wake_supply_df['date'].dt.strftime('%Y-%m')
wake_supply_df.reset_index(drop=True, inplace=True)
wake_supply_df.head()

#### Wake demand

In [ ]:
wake_demand_df.rename(columns={'DATE':'date', 'DESCCOUNTY37183':'wake_demand_index'}, inplace=True)
wake_demand_df['date'] = pd.to_datetime(wake_demand_df['date'])
wake_demand_df['date'] = wake_demand_df['date'].dt.strftime('%Y-%m')
wake_demand_df.reset_index(drop=True, inplace=True)
wake_demand_df.head()

#### Combine wake supply and demand data

In [ ]:
wake_house_supply_demand_df = wake_supply_df.merge(wake_demand_df, left_on='date', right_on='date', how='left')
wake_house_supply_demand_df.head()

## Crime data in Wake, NC

In [117]:
# Read in the crime data
angier = pd.read_csv('assets/crime_rate/angier.csv')
angier = angier.transpose()
angier.reset_index(inplace=True)

angier.drop(labels=[0], axis=0, inplace=True)
angier.rename(columns={'index':'year', 0:'angier'}, inplace=True)
angier.drop(labels=[1], axis=1, inplace=True)
# fille out missed value for 2000, 2001, 2019 and 2020
angier = angier.append({'year':2000, 'angier':angier.iloc[0:4, 1].median()}, ignore_index=True)
angier = angier.append({'year':2001, 'angier':angier.iloc[1:5, 1].median()}, ignore_index=True)
angier = angier.append({'year':2019, 'angier':angier.iloc[13:17, 1].median()}, ignore_index=True)
angier = angier.append({'year':2020, 'angier':angier.iloc[14:18, 1].median()}, ignore_index=True)
angier['year'] = angier['year'].astype(int)
angier['angier'] = angier['angier'].astype(int)
angier.sort_values(by='year', inplace=True)
angier.reset_index(inplace=True, drop=True)
# angier

In [118]:
# Read in the crime data
apex = pd.read_csv('assets/crime_rate/apex.csv')
apex = apex.transpose()
apex.reset_index(inplace=True)

apex.drop(labels=[0], axis=0, inplace=True)
apex.rename(columns={'index':'year', 0:'apex'}, inplace=True)
apex.drop(labels=[1], axis=1, inplace=True)
# fille out missed value for 2007
apex = apex.append({'year':2007, 'apex':apex.iloc[0:7, 1].median()}, ignore_index=True)
apex['year'] = apex['year'].astype(int)
apex['apex'] = apex['apex'].astype(int)
apex = apex.sort_values(by='year')
apex.reset_index(inplace=True, drop=True)
# apex

In [119]:
# Read in the crime data
cary = pd.read_csv('assets/crime_rate/cary.csv')
cary = cary.transpose()
cary.reset_index(inplace=True)

cary.drop(labels=[0], axis=0, inplace=True)
cary.rename(columns={'index':'year', 0:'cary'}, inplace=True)
cary.drop(labels=[1], axis=1, inplace=True)
cary['year'] = cary['year'].astype(int)
cary['cary'] = cary['cary'].astype(int)
cary.reset_index(inplace=True, drop=True)
# cary

In [120]:
# Read in the crime data
fuquay_varina = pd.read_csv('assets/crime_rate/fuquay_varina.csv')
fuquay_varina = fuquay_varina.transpose()
fuquay_varina.reset_index(inplace=True)

fuquay_varina.drop(labels=[0], axis=0, inplace=True)
fuquay_varina.rename(columns={'index':'year', 0:'fuquay_varina'}, inplace=True)
fuquay_varina.drop(labels=[1], axis=1, inplace=True)
fuquay_varina['year'] = fuquay_varina['year'].astype(int)
fuquay_varina['fuquay_varina'] = fuquay_varina['fuquay_varina'].astype(int)
fuquay_varina.reset_index(inplace=True, drop=True)
# fuquay_varina

In [121]:
# Read in the crime data
garner = pd.read_csv('assets/crime_rate/garner.csv')
garner = garner.transpose()
garner.reset_index(inplace=True)

garner.drop(labels=[0], axis=0, inplace=True)
garner.rename(columns={'index':'year', 0:'garner'}, inplace=True)
garner.drop(labels=[1], axis=1, inplace=True)
garner['year'] = garner['year'].astype(int)
garner['garner'] = garner['garner'].astype(int)
garner.reset_index(inplace=True, drop=True)
# garner

In [122]:
# Read in the crime data
knightdale = pd.read_csv('assets/crime_rate/knightdale.csv')
knightdale = knightdale.transpose()
knightdale.reset_index(inplace=True)

knightdale.drop(labels=[0], axis=0, inplace=True)
knightdale.rename(columns={'index':'year', 0:'knightdale'}, inplace=True)
knightdale.drop(labels=[1], axis=1, inplace=True)
# fille out missed value for 2002 and 2003
knightdale = knightdale.append({'year':2002, 'knightdale':knightdale.iloc[0:4, 1].median()}, ignore_index=True)
knightdale = knightdale.append({'year':2003, 'knightdale':knightdale.iloc[1:5, 1].median()}, ignore_index=True)
knightdale['year'] = knightdale['year'].astype(int)
knightdale['knightdale'] = knightdale['knightdale'].astype(int)
knightdale = knightdale.sort_values(by='year')
knightdale.reset_index(inplace=True, drop=True)
# knightdale

In [123]:
# Read in the crime data
morrisville = pd.read_csv('assets/crime_rate/morrisville.csv')
morrisville = morrisville.transpose()
morrisville.reset_index(inplace=True)

morrisville.drop(labels=[0], axis=0, inplace=True)
morrisville.rename(columns={'index':'year', 0:'morrisville'}, inplace=True)
morrisville.drop(labels=[1], axis=1, inplace=True)
morrisville['year'] = morrisville['year'].astype(int)
morrisville['morrisville'] = morrisville['morrisville'].astype(int)
# morrisville

In [124]:
# Read in the crime data
hollyspring = pd.read_csv('assets/crime_rate/hollyspring.csv')
hollyspring = hollyspring.transpose()
hollyspring.reset_index(inplace=True)

hollyspring.drop(labels=[0], axis=0, inplace=True)
hollyspring.rename(columns={'index':'year', 0:'hollyspring'}, inplace=True)
hollyspring.drop(labels=[1], axis=1, inplace=True)
# fille out missed value for 2008
hollyspring = hollyspring.append({'year':2008, 'hollyspring':hollyspring.iloc[6:10, 1].median()}, ignore_index=True)
hollyspring['year'] = hollyspring['year'].astype(int)
hollyspring['hollyspring'] = hollyspring['hollyspring'].astype(int)
hollyspring = hollyspring.sort_values(by='year')
hollyspring.reset_index(inplace=True, drop=True)
# hollyspring

In [125]:
# Read in the crime data
raleigh = pd.read_csv('assets/crime_rate/raleigh.csv')
raleigh = raleigh.transpose()
raleigh.reset_index(inplace=True)

raleigh.drop(labels=[0], axis=0, inplace=True)
raleigh.rename(columns={'index':'year', 0:'raleigh'}, inplace=True)
raleigh.drop(labels=[1], axis=1, inplace=True)
# fille out missed value for 2015 2016 and 2017
raleigh = raleigh.append({'year':2015, 'raleigh':raleigh.iloc[12:15, 1].median()}, ignore_index=True)
raleigh = raleigh.append({'year':2016, 'raleigh':raleigh.iloc[13:16, 1].median()}, ignore_index=True)
raleigh = raleigh.append({'year':2017, 'raleigh':raleigh.iloc[14:17, 1].median()}, ignore_index=True)

raleigh['year'] = raleigh['year'].astype(int)
raleigh['raleigh'] = raleigh['raleigh'].astype(int)
raleigh = raleigh.sort_values(by='year')
raleigh.reset_index(inplace=True, drop=True)
# raleigh

In [126]:
# Read in the crime data
rolesville = pd.read_csv('assets/crime_rate/rolesville.csv')
rolesville = rolesville.transpose()
rolesville.reset_index(inplace=True)

rolesville.drop(labels=[0], axis=0, inplace=True)
rolesville.rename(columns={'index':'year', 0:'rolesville'}, inplace=True)
rolesville.drop(labels=[1], axis=1, inplace=True)
# fille out missed value for 2006
rolesville = rolesville.append({'year':2006, 'rolesville':rolesville.iloc[4:8, 1].median()}, ignore_index=True)
rolesville['year'] = rolesville['year'].astype(int)
rolesville['rolesville'] = rolesville['rolesville'].astype(int)
rolesville = rolesville.sort_values(by='year')
rolesville.reset_index(inplace=True, drop=True)
# rolesville

In [127]:
# Read in the crime data
wake_forest = pd.read_csv('assets/crime_rate/wake_forest.csv')
wake_forest = wake_forest.transpose()
wake_forest.reset_index(inplace=True)

wake_forest.drop(labels=[0], axis=0, inplace=True)
wake_forest.rename(columns={'index':'year', 0:'wake_forest'}, inplace=True)
wake_forest.drop(labels=[1], axis=1, inplace=True)
# fille out missed value for 2000
wake_forest = wake_forest.append({'year':2000, 'wake_forest':wake_forest.iloc[0:4, 1].median()}, ignore_index=True)
wake_forest['year'] = wake_forest['year'].astype(int)
wake_forest['wake_forest'] = wake_forest['wake_forest'].astype(int)
wake_forest = wake_forest.sort_values(by='year')
wake_forest.reset_index(inplace=True, drop=True)
# wake_forest

In [128]:
# Merge all crime datasets
crime_1 = pd.merge(angier, apex, on='year')
crime_2 = pd.merge(crime_1, cary, on='year')
crime_3 = pd.merge(crime_2, fuquay_varina, on='year')
crime_4 = pd.merge(crime_3, garner, on='year')
crime_5 = pd.merge(crime_4, knightdale, on='year')
crime_6 = pd.merge(crime_5, morrisville, on='year')
crime_7 = pd.merge(crime_6, hollyspring, on='year')
crime_8 = pd.merge(crime_7, raleigh, on='year')
crime_9 = pd.merge(crime_8, rolesville, on='year')
crime_final = pd.merge(crime_9, wake_forest, on='year')
crime_final['year'] = pd.to_datetime(crime_final['year'], format='%Y')
crime_final['year'] = crime_final['year'].dt.year
# crime_final.to_csv('assets/crime_final.csv', index=False)
crime_final

,year,angier,apex,cary,fuquay_varina,garner,knightdale,morrisville,hollyspring,raleigh,rolesville,wake_forest
0,2000,29,50,78,0,64,20,7,6,2049,0,35
1,2001,25,62,108,44,85,12,14,11,2187,2,37
2,2002,44,41,112,40,79,18,9,14,1966,0,42
3,2003,17,84,109,31,97,19,11,9,2004,7,34
4,2004,26,70,94,51,95,16,8,19,1867,2,34
5,2005,32,46,135,47,76,22,12,17,2050,0,27
6,2006,25,18,131,71,73,27,10,22,2223,2,40
7,2007,48,50,134,30,99,22,8,2,2098,3,49
8,2008,38,28,107,52,106,29,15,16,2245,5,52
9,2009,22,50,132,70,62,14,4,13,2001,6,34
10,2010,21,34,120,49,48,18,12,19,1740,3,26
11,2011,39,24,108,78,57,20,16,36,1724,5,45
12,2012,13,33,115,82,65,25,11,14,1780,9,49
13,2013,11,36,102,19,52,19,12,23,1683,4,43
14,2014,22,28,98,57,51,25,11,20,667,6,56
15,2015,12,9,81,35,44,14,16,18,1683,7,46
16,2016,14,40,151,28,86,21,15,9,667,6,54
17,2017,8,30,122,35,98,10,22,17,667,2,47
18,2018,9,52,124,25,73,34,19,25,112,2,50
19,2019,10,56,115,26,81,42,12,25,1468,4,24
20,2020,11,30,116,23,84,48,24,31,1891,5,66

### Combine US house supply and demand data to the main data

In [ ]:
updated_house_df['year'] = updated_house_df['deed_date'].dt.strftime('%Y-%m')
updated_house_df['year'] = pd.to_datetime(updated_house_df['year'])
final_us_house_supply_demand['date'] = pd.to_datetime(final_us_house_supply_demand['date'])
wake_house_supply_demand_df['date'] = pd.to_datetime(wake_house_supply_demand_df['date'])
updated_house_df = updated_house_df.merge(final_us_house_supply_demand, left_on='year', right_on='date', how='left')
updated_house_df = updated_house_df.merge(wake_house_supply_demand_df, left_on='year', right_on='date', how='left')
updated_house_df.drop(columns=['year', 'date_x', 'date_y'], inplace=True)

In [ ]:
updated_house_df.head()

# Save as a CSV file

In [ ]:
# uncomment to save the data as a CSV file in your local drive if needed
# updated_house_df.to_csv('assets/updated_house_df.csv', index=False)