In [1]:
import pandas as pd
import os
import missingno as msno

In [2]:
wi_zipcode = pd.read_csv("assets\zipcode.csv")
mort_rate = pd.read_csv("assets\mort_rate.csv")

In [3]:
# Uncomment the following line if the house_price.csv file is not in the assets/house_price folder
# house_price_folder_path = "C:\\Users\\aliso\\Documents\\GitHub\\SIADS-696-Milestone-II\\assets\\house_price"
# os.chdir(house_price_folder_path)

# df = pd.DataFrame([])

# # Read in the data and concatenate into a single dataframe
# for root, dirs, files in os.walk("."):
#     for name in files:
#         df_temp = pd.read_csv(name, encoding = "ISO-8859-1")
#         df = pd.concat([df, df_temp], axis=0)

# # Save the data to a csv file
# df.to_csv("house_price.csv", index=False)

In [4]:
# Read csv files
house_price_df = pd.read_csv("assets\house_price\house_price.csv")
house_price_df.head()

C:\Users\aliso\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (0,7,8,18,19,24,29,30,31,32,33,34,35,36,38,40,41,42,43,44,45,51,52,53,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,89) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,SaleNumber,YearCaptured,GrantorType,GrantorGranteeRelationship,WeatherStds,EnergyExclusion,Section,Township,Range,PropertyType,...,OwnerInterestOtherNote,GrantorRightsOtherNotes,PreviousDocumentNumber,ConveyanceCodeOtherNote,MiscCountyTVC,MultiTVSs,WaterFrontFeet,VolumeJacket,Unnamed: 89,lotsize_sqft
0,201700039900001,2017,4.0,1.0,2.0,3.0,NaN,NaN,NaN,2,...,NaN,NaN,31O9I,NaN,NaN,2.0,0.0,NaN,NaN,NaN
1,201700039900003,2016,1.0,6.0,2.0,3.0,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,NaN,NaN,NaN
2,201700039900005,2016,4.0,1.0,2.0,7.0,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,NaN,NaN,NaN
3,201700039900014,2016,1.0,1.0,2.0,1.0,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,NaN,NaN,NaN
4,201700039900016,2016,1.0,1.0,2.0,7.0,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,NaN,NaN,NaN

In [5]:
# house_price_df.columns

In [6]:
updated_house_price = house_price_df[['SaleNumber', 'YearCaptured', 'PropertyType', 'PredominateUse',
       'MultiFamilyUnits', 'TransferType', 'TotalRealEstateValue', 'TransferFee',
       'TransferExemptionNumber', 'TVCname', 'CountyName', 'PropertyAddress', 'DateRecorded', 'LotSize1', 'LotSize', 'TotalAcres']].copy()
updated_house_price.head()

,SaleNumber,YearCaptured,PropertyType,PredominateUse,MultiFamilyUnits,TransferType,TotalRealEstateValue,TransferFee,TransferExemptionNumber,TVCname,CountyName,PropertyAddress,DateRecorded,LotSize1,LotSize,TotalAcres
0,201700039900001,2017,2,1,2,5,"$95,000.00",$0.00,3,"STEVENS POINT, CITY OF",PORTAGE,2021 - 2023 DIVISION STREET,1032017,86,86.0,0.0
1,201700039900003,2016,2,1,3,5,"$200,000.00",$0.00,16,"DARLINGTON, CITY OF",LAFAYETTE,"145-155 W, RIVER STREET",1032017,0,0.0,1.0
2,201700039900005,2016,2,5,0,5,"$4,823,200.00",$0.00,12,"KIMBERLY, VILLAGE OF",OUTAGAMIE,N. MAIN STREET,1032017,0,0.0,92.0
3,201700039900014,2016,2,1,0,1,"$143,500.00",$430.50,NaN,"APPLETON, CITY OF",OUTAGAMIE,"2624 FAIRFIELD COURT, APPLETON, WI 54911",1032017,0,0.0,0.0
4,201700039900016,2016,2,2,0,1,"$900,000.00","$2,700.00",NaN,"APPLETON, CITY OF",OUTAGAMIE,1400 WEST COLLEGE AVENUE,1032017,251,251.0,0.0

In [7]:
updated_house_price['TotalRealEstateValue'] = updated_house_price['TotalRealEstateValue'].replace(',', '')
updated_house_price['TransferFee'] = updated_house_price['TransferFee'].replace(',', '')
# convert string data type to numeric data type
updated_house_price['LotSize1'].astype('float64')
updated_house_price['LotSize'].astype('float64')
updated_house_price['TotalAcres'].astype('float64')
updated_house_price['lotsize_sqft'] = updated_house_price['LotSize1'] * updated_house_price['LotSize']
# keep family houses only
updated_house_price = updated_house_price[updated_house_price['PredominateUse'] == 1]
# remove land only real estate
updated_house_price = updated_house_price[updated_house_price['PropertyType'] != 1]
# keep single family houses only
updated_house_price = updated_house_price[updated_house_price['MultiFamilyUnits'] == 0]
# keep transfer type Original Sale only
updated_house_price = updated_house_price[updated_house_price['TransferType'] == 1]

updated_house_price.loc[updated_house_price['TotalAcres'] == 0, 'TotalAcres'] = updated_house_price['lotsize_sqft'] / 43560
updated_house_price.loc[updated_house_price['lotsize_sqft'] == 0, 'lotsize_sqft'] = updated_house_price['TotalAcres'] * 43560
# get city name from TVCname
updated_house_price['city'] = updated_house_price['TVCname'].str.split(',').str[0]

In [8]:
zero_counts_totalacres = (updated_house_price['TotalAcres'] == 0).sum()
zero_counts_lotsize = (updated_house_price['lotsize_sqft'] == 0).sum()

print(f'Total houses: {len(updated_house_price)}')
print(f'Count of zeros in TotalAcres: {zero_counts_totalacres}')
print(f'Count of zeros in lotsize_sqft: {zero_counts_lotsize}')
updated_house_price = updated_house_price[updated_house_price['lotsize_sqft'] != 0]

Total houses: 841511
Count of zeros in TotalAcres: 467973
Count of zeros in lotsize_sqft: 467973

In [9]:
updated_wi_zipcode = wi_zipcode[['zip', 'City']].copy()
# Remove nan values
updated_wi_zipcode.dropna(inplace=True)
updated_wi_zipcode['zip'].astype('int64')
updated_wi_zipcode.head()

     zip        City
0  54405  ABBOTSFORD
1  54101      ABRAMS
2  53910       ADAMS
3  53001       ADELL
4  53501       AFTON

In [10]:
# Add a zipcode column to the house price dataframe
updated_house_price['zip'] = updated_house_price.merge(updated_wi_zipcode, how='left', left_on='city', right_on='City')['zip']
updated_house_price.drop(['TVCname', 'DateRecorded', 'LotSize1', 'LotSize', 'TotalAcres', 'city'], axis=1)

,SaleNumber,YearCaptured,PropertyType,PredominateUse,MultiFamilyUnits,TransferType,TotalRealEstateValue,TransferFee,TransferExemptionNumber,CountyName,PropertyAddress,lotsize_sqft,zip
20,201700039900074,2016,2,1,0,1,"$156,900.00",$470.70,NaN,FOND DU LAC,N6612 7 HILLS ROAD,87120.0,53596
28,201700039900098,2016,2,1,0,1,"$92,000.00",$276.00,NaN,FOND DU LAC,505 EMMA STREET FOND DU LAC WI 54935,43560.0,53707
30,201700039900107,2016,2,1,0,1,"$129,900.00",$389.70,NaN,FOND DU LAC,559 E. BANK STREET,43560.0,53711
35,201700039900124,2016,2,1,0,1,"$5,000.00",$15.00,NaN,FOND DU LAC,142 CENTRAL AVENUE,43560.0,53717
36,201700039900127,2016,2,1,0,1,"$205,000.00",$615.00,NaN,FOND DU LAC,W6173 WESTLAKE COURT,43560.0,53718
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1367560,202207019978870,2022,2,1,0,1,"$175,000.00",$525.00,NaN,MANITOWOC,12324 FAIRHILLS DR.,871200.0,53208
1367561,202207019978874,2022,2,1,0,1,"$210,000.00",$630.00,NaN,MANITOWOC,2334 42ND STREET,434511000.0,53209
1367572,202207089995918,2022,2,1,0,1,"$328,000.00",$984.00,NaN,WAUKESHA,2302 OAKDALE DR,43560.0,53220
1367574,202207099998428,2022,2,1,0,1,"$120,000.00",$360.00,NaN,GRANT,118 HARRISON STREET,43560.0,53222
1367576,202207109901447,2022,2,1,0,1,"$540,000.00","$1,620.00",NaN,MENOMINEE,N1085 SPOTTED FAWN TRAIL,43560.0,53224

In [11]:
updated_house_price['Date'] = updated_house_price['SaleNumber'].astype(str).str[:6]
updated_house_price.Date = pd.to_numeric(updated_house_price.Date, errors='coerce')
updated_house_price['Date'] = updated_house_price['Date'] + 1

In [13]:
mort_rate['Rate'].astype('float64')
mort_rate.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
mort_rate['splitted_date'] = mort_rate['Date'].str.split("/", 0)

In [14]:
mort_rate['month'] = mort_rate['splitted_date'].str[0]
mort_rate['day'] = mort_rate['splitted_date'].str[1]
mort_rate['year'] = mort_rate['splitted_date'].str[2]

mort_rate['date'] = mort_rate['year'] + '0' + mort_rate['month']
mort_rate['date'] = pd.to_numeric(mort_rate['date'], errors='coerce')
mort_rate.drop(['Date', 'splitted_date', 'month', 'day', 'year'], inplace=True, axis=1)
mort_rate.head()

   Rate    date
0  8.21  200001
1  8.33  200002
2  8.24  200003
3  8.15  200004
4  8.52  200005

In [15]:
updated_house_price['Rate'] = updated_house_price.merge(mort_rate, how='left', left_on='Date', right_on='date')['Rate']
updated_house_price.head()

,SaleNumber,YearCaptured,PropertyType,PredominateUse,MultiFamilyUnits,TransferType,TotalRealEstateValue,TransferFee,TransferExemptionNumber,TVCname,...,PropertyAddress,DateRecorded,LotSize1,LotSize,TotalAcres,lotsize_sqft,city,zip,Date,Rate
20,201700039900074,2016,2,1,0,1,"$156,900.00",$470.70,NaN,"EMPIRE, TOWN OF",...,N6612 7 HILLS ROAD,1032017,0,0.0,2.0,87120.0,EMPIRE,53596,201701,4.15
28,201700039900098,2016,2,1,0,1,"$92,000.00",$276.00,NaN,"FOND DU LAC, CITY OF",...,505 EMMA STREET FOND DU LAC WI 54935,1032017,0,0.0,1.0,43560.0,FOND DU LAC,53707,201701,4.15
30,201700039900107,2016,2,1,0,1,"$129,900.00",$389.70,NaN,"FOND DU LAC, CITY OF",...,559 E. BANK STREET,1032017,0,0.0,1.0,43560.0,FOND DU LAC,53711,201701,4.15
35,201700039900124,2016,2,1,0,1,"$5,000.00",$15.00,NaN,"FOND DU LAC, CITY OF",...,142 CENTRAL AVENUE,1032017,0,0.0,1.0,43560.0,FOND DU LAC,53717,201701,4.15
36,201700039900127,2016,2,1,0,1,"$205,000.00",$615.00,NaN,"FRIENDSHIP, TOWN OF",...,W6173 WESTLAKE COURT,1032017,0,0.0,1.0,43560.0,FRIENDSHIP,53718,201701,4.15

In [16]:
final_house_df = updated_house_price[['SaleNumber', 'Date', 'zip', 'MultiFamilyUnits', 'TotalRealEstateValue', 'TransferFee', 'lotsize_sqft', 'Rate']].copy()
final_house_df['TotalRealEstateValue'] = final_house_df['TotalRealEstateValue'].str[1:]
final_house_df['TransferFee'] = final_house_df['TransferFee'].str[1:]
final_house_df['TotalRealEstateValue'] = final_house_df['TotalRealEstateValue'].str.replace(',', '').astype('float64')
final_house_df['TransferFee'] = final_house_df['TransferFee'].str.replace(',', '').astype('float64')
final_house_df.reset_index(drop=True, inplace=True)
final_house_df.head()

,SaleNumber,Date,zip,MultiFamilyUnits,TotalRealEstateValue,TransferFee,lotsize_sqft,Rate
0,201700039900074,201701,53596,0,156900.0,470.7,87120.0,4.15
1,201700039900098,201701,53707,0,92000.0,276.0,43560.0,4.15
2,201700039900107,201701,53711,0,129900.0,389.7,43560.0,4.15
3,201700039900124,201701,53717,0,5000.0,15.0,43560.0,4.15
4,201700039900127,201701,53718,0,205000.0,615.0,43560.0,4.15

In [17]:
# final_house_df.to_csv("final_house_df.csv")